.hospitality{
    text-align: right;
    .overlay{
        @include overlay;
    }
    .hospatility-box{
        cursor: pointer;
        margin-bottom: 15px;
        img{
            width: 100%;
        }    
    }
}